SCHEMATIC START ;
// created by map version G.38 on Fri Dec 07 17:16:04 2012 
COMP "COUNT_DAT<0>" LOCATE =  SITE "N7" LEVEL 1; 
COMP "COUNT_DAT<1>" LOCATE =  SITE "T8" LEVEL 1; 
COMP "COUNT_DAT<2>" LOCATE =  SITE "R6" LEVEL 1; 
COMP "COUNT_DAT<3>" LOCATE =  SITE "T5" LEVEL 1; 
COMP "COUNT_DAT<4>" LOCATE =  SITE "R5" LEVEL 1; 
COMP "COUNT_DAT<5>" LOCATE =  SITE "C2" LEVEL 1; 
COMP "COUNT_DAT<6>" LOCATE =  SITE "C1" LEVEL 1; 
COMP "COUNT_DAT<7>" LOCATE =  SITE "B1" LEVEL 1; 
COMP "COUNT_DAT<8>" LOCATE =  SITE "D3" LEVEL 1; 
COMP "COUNT_DAT<9>" LOCATE =  SITE "P8" LEVEL 1; 
COMP "COUNT_DAT<10>" LOCATE =  SITE "F2" LEVEL 1; 
COMP "COUNT_DAT<11>" LOCATE =  SITE "H1" LEVEL 1; 
COMP "COUNT_DAT<12>" LOCATE =  SITE "J2" LEVEL 1; 
COMP "COUNT_DAT<13>" LOCATE =  SITE "L2" LEVEL 1; 
COMP "COUNT_DAT<14>" LOCATE =  SITE "P1" LEVEL 1; 
COMP "COUNT_DAT<15>" LOCATE =  SITE "R1" LEVEL 1; 
COMP "STOP_LD0_K12" LOCATE =  SITE "K12" LEVEL 1; 
COMP "CE1_P7" LOCATE =  SITE "P7" LEVEL 1; 
COMP "GO_SW7_K13" LOCATE =  SITE "K13" LEVEL 1; 
COMP "F_50MHZ_T9" LOCATE =  SITE "T9" LEVEL 1; 
COMP "BA_E14" LOCATE =  SITE "E14" LEVEL 1; 
COMP "STEP_BTN1_M14" LOCATE =  SITE "M14" LEVEL 1; 
COMP "BB_G13" LOCATE =  SITE "G13" LEVEL 1; 
COMP "BC_N15" LOCATE =  SITE "N15" LEVEL 1; 
COMP "OE_K4" LOCATE =  SITE "K4" LEVEL 1; 
COMP "BF_F13" LOCATE =  SITE "F13" LEVEL 1; 
COMP "BD_P15" LOCATE =  SITE "P15" LEVEL 1; 
COMP "BE_R16" LOCATE =  SITE "R16" LEVEL 1; 
COMP "BG_N16" LOCATE =  SITE "N16" LEVEL 1; 
COMP "LB1_P6" LOCATE =  SITE "P6" LEVEL 1; 
COMP "WE_G3" LOCATE =  SITE "G3" LEVEL 1; 
COMP "AN0_D14" LOCATE =  SITE "D14" LEVEL 1; 
COMP "RUN_BTN2_L13" LOCATE =  SITE "L13" LEVEL 1; 
COMP "AN1_G14" LOCATE =  SITE "G14" LEVEL 1; 
COMP "AN2_F14" LOCATE =  SITE "F14" LEVEL 1; 
COMP "AN3_E13" LOCATE =  SITE "E13" LEVEL 1; 
COMP "RST_BTN3_L14" LOCATE =  SITE "L14" LEVEL 1; 
COMP "UB1_T4" LOCATE =  SITE "T4" LEVEL 1; 
COMP "COUNT_ADR<10>" LOCATE =  SITE "G5" LEVEL 1; 
COMP "COUNT_ADR<11>" LOCATE =  SITE "H3" LEVEL 1; 
COMP "COUNT_ADR<12>" LOCATE =  SITE "H4" LEVEL 1; 
COMP "COUNT_ADR<13>" LOCATE =  SITE "J4" LEVEL 1; 
COMP "COUNT_ADR<14>" LOCATE =  SITE "J3" LEVEL 1; 
COMP "COUNT_ADR<0>" LOCATE =  SITE "L5" LEVEL 1; 
COMP "COUNT_ADR<15>" LOCATE =  SITE "K3" LEVEL 1; 
COMP "COUNT_ADR<1>" LOCATE =  SITE "N3" LEVEL 1; 
COMP "COUNT_ADR<16>" LOCATE =  SITE "K5" LEVEL 1; 
COMP "COUNT_ADR<2>" LOCATE =  SITE "M4" LEVEL 1; 
COMP "COUNT_ADR<17>" LOCATE =  SITE "L3" LEVEL 1; 
COMP "COUNT_ADR<3>" LOCATE =  SITE "M3" LEVEL 1; 
COMP "COUNT_ADR<4>" LOCATE =  SITE "L4" LEVEL 1; 
COMP "COUNT_ADR<5>" LOCATE =  SITE "G4" LEVEL 1; 
COMP "COUNT_ADR<6>" LOCATE =  SITE "F3" LEVEL 1; 
COMP "COUNT_ADR<7>" LOCATE =  SITE "F4" LEVEL 1; 
COMP "COUNT_ADR<8>" LOCATE =  SITE "E3" LEVEL 1; 
COMP "COUNT_ADR<9>" LOCATE =  SITE "E4" LEVEL 1; 
NET "F_50MHZ_T9_BUFGP/IBUFG" BEL "F_50MHZ_T9_BUFGP/BUFG.GCLKMUX" 
USELOCALCONNECT ;
SCHEMATIC END ;
