SCHEMATIC START ;
// created by map version G.38 on Wed Dec 19 16:40:06 2012 
COMP "F_50MHZ_T9" LOCATE =  SITE "T9" LEVEL 1; 
COMP "BA_E14" LOCATE =  SITE "E14" LEVEL 1; 
COMP "STEP_BTN1_M14" LOCATE =  SITE "M14" LEVEL 1; 
COMP "BB_G13" LOCATE =  SITE "G13" LEVEL 1; 
COMP "BC_N15" LOCATE =  SITE "N15" LEVEL 1; 
COMP "BF_F13" LOCATE =  SITE "F13" LEVEL 1; 
COMP "BD_P15" LOCATE =  SITE "P15" LEVEL 1; 
COMP "BE_R16" LOCATE =  SITE "R16" LEVEL 1; 
COMP "BG_N16" LOCATE =  SITE "N16" LEVEL 1; 
COMP "AN0_D14" LOCATE =  SITE "D14" LEVEL 1; 
COMP "DC_SW1_G12" LOCATE =  SITE "G12" LEVEL 1; 
COMP "RUN_BTN2_L13" LOCATE =  SITE "L13" LEVEL 1; 
COMP "AN1_G14" LOCATE =  SITE "G14" LEVEL 1; 
COMP "DC_SW2_H14" LOCATE =  SITE "H14" LEVEL 1; 
COMP "AN2_F14" LOCATE =  SITE "F14" LEVEL 1; 
COMP "AN3_E13" LOCATE =  SITE "E13" LEVEL 1; 
COMP "RST_BTN3_L14" LOCATE =  SITE "L14" LEVEL 1; 
COMP "BC_SW5_J13" LOCATE =  SITE "J13" LEVEL 1; 
COMP "BO_LD6_P12" LOCATE =  SITE "P12" LEVEL 1; 
COMP "InAB_SW7_K13" LOCATE =  SITE "K13" LEVEL 1; 
COMP "PO_SW4_J14" LOCATE =  SITE "J14" LEVEL 1; 
COMP "CV_SW0_F12" LOCATE =  SITE "F12" LEVEL 1; 
NET "F_50MHZ_T9_BUFGP/IBUFG" BEL "F_50MHZ_T9_BUFGP/BUFG.GCLKMUX" 
USELOCALCONNECT ;
SCHEMATIC END ;
